{% extends "base.html" %} {% load static %} {% block content %}
<div class="container mt-5">
  <h1 class="mb-5">Riwayat Pinjam Buku</h1>
  <div class="row">
    {% for item in riwayat_buku %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        {% if item.book.image %}
        <img
          src="{{ item.book.image.url }}"
          alt="{{ item.book.title }}"
          class="card-img-top"
        />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">Judul: {{ item.book.title }}</h5>
          <p class="card-text">Penulis: {{ item.book.author }}</p>
          <p class="card-text">
            Tanggal Pinjam: {{ item.borrowed_at|date:"d M Y" }}
          </p>
          <p class="card-text">
            Batas Pengembalian: {{ item.return_date|date:"d M Y" }}
          </p>
          {% if not item.is_returned %} {% if item.days_left > 0 %}
          <p class="card-text text-warning text-center fw-bold">
            SISA {{ item.days_left }} HARI UNTUK MENGEMBALIKAN BUKU.
          </p>
          {% else %}
          <p class="card-text text-danger text-center fw-bold">
            PENGEMBALIAN TERLAMBAT!
          </p>
          {% endif %} {% else %}
          <p class="text-success text-center fw-bold">
            BUKU SUDAH DIKEMBALIKAN
          </p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
